*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(182, 41, 41), white);
}
canvas{
    background: linear-gradient(black,white);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
p{
    background: linear-gradient(white,black);
}